:root {
  --main-bg-color: #131317;
  --base-headline-color: #7780ff;
  --base-body-text: #adb6ed;
  --blog-post-h1: #b0f3ff;
}

body {
  margin: 0;
  padding: 0;
  background: var(--main-bg-color);
}

main {
  padding: 60px 0 0 0;
}

h1,
h2,
h3,
h4 {
  color: var(--base-headline-color);
}

p {
  color: var(--base-body-text);
}

.temp-home-page {
  width: 100vw;
  height: 100vh;
}
